![]()

# SQL - Zaawansowany

_Mikołaj Leszczuk_

* Klauzula `GROUP BY`
* Operacje na stringach
* Łączenie tabel i wyszukiwanie danych w wielu tabelach
* Pod-zapytania
* Zadania domowe
* Materiały dodatkowe

## Klauzula `GROUP BY`

Klauzula `GROUP BY` umożliwia wykonywanie funkcji grupujących na grupie wartości wyodrębnionych na podstawie wartości innej kolumny.

Aby użyć kolumny do grupowania, musimy pamiętać, aby umieścić ją w liście kolumn, zaraz po słowie `SELECT`. W przeciwnym razie nie będzie ona dostępna dla klauzuli grupującej `GROUP BY`.

```sqlite
SELECT SUM(kolumna),inna_kolumna FROM tabela GROUP BY inna_kolumna;
```

Oblicza agregaty - funkcje obliczane dla zbiorów wierszy.

Istnieje kilka agregatów:

* `COUNT()` - zlicza elementy
* `SUM()` - dodaje elementy
* `MIN()`, `MAX()`, `AVG()` - obliczają odpowiednio wartość najmniejszą, największą i średnią

Dodatkowa baza danych do zaimportowania w programie DB Browser znajduje się w plikach [`simple_library_db.csv`](https://github.com/pkociepka/sql/blob/master/simple_library_db.csv) oraz [`library_db.sql`](https://github.com/pkociepka/sql/blob/master/library_db.sql)

#### Przykład

**Chcemy policzyć książki napisane przez każdego autora**

Tabela **`Titles`**:

|     ID    |                      title                    |     author_id    |
|:---------:|:---------------------------------------------:|:----------------:|
|     1     |     Solaris                                   |     1            |
|     2     |     Cyberiada                                 |     1            |
|     3     |     Katar                                     |     1            |
|     4     |     Bajki   robotów                           |     1            |
|     5     |     Opowieści   o Pilocie Pirxie              |     1            |
|     6     |     Rękopis   znaleziony w wannie             |     1            |
|     7     |     Dzienniki   gwiazdowe                     |     1            |
|     8     |     Eden                                      |     1            |
|     9     |     Śledztwo                                  |     1            |
|     10    |     Powrót   z gwiazd                         |     1            |
|     11    |     Niezwyciężony                             |     1            |
|     12    |     Wysoki   zamek                            |     1            |
|     13    |     Głos   Pana                               |     1            |
|     14    |     Pożytek   ze smoka                        |     1            |
|     15    |     Sknocony   kryminał                       |     1            |
|     16    |     Mars                                      |     2            |
|     17    |     Kameleon                                  |     2            |
|     18    |     Vertical                                  |     2            |
|     19    |     Różaniec                                  |     2            |
|     20    |     Obywatel   który się zawiesił             |     2            |
|     21    |     Pamiętniki   z okresu dojrzewania         |     3            |
|     22    |     Ferdydurke                                |     3            |
|     23    |     Trans-Atlantyk                            |     3            |
|     24    |     Iwona   księżniczka Burgunda              |     3            |
|     25    |     Ślub                                      |     3            |
|     26    |     Operetka                                  |     3            |
|     27    |     Bakakaj                                   |     3            |
|     28    |     Tango                                     |     4            |
|     29    |     Emigranci                                 |     4            |
|     30    |     Kynolog   w rozterce                      |     4            |
|     31    |     Miłość   na Krymie                        |     4            |
|     32    |     Wesele   w Atomicach                      |     4            |
|     33    |     Lód                                       |     5            |
|     34    |     Wrociec                                   |     5            |
|     35    |     Perfekcyjna   niedoskonałość              |     5            |
|     36    |     Katedra                                   |     5            |
|     37    |     Narrenturm                                |     6            |
|     38    |     Boży   wojownicy                          |     6            |
|     39    |     Lux   perpetua                            |     6            |
|     40    |     Rękopis   znaleziony w smoczej jaskini    |     6            |

---